* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif,Arial, Helvetica, sans-serif;
}

body{
    background-color: #153448;
}


h3{
    position: relative;
    top: 350px;
    
    text-align: center;
    
    font-size: 50px;
    color: white;
}
button{
    position: relative;
    top: 450px;
    left: 600px;
    height: 60px;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    box-shadow:0 4px 90px 0 rgb(65, 84, 90), 0 6px 90px 0 rgb(65, 84, 90) ;
}
button:hover{
    color: white;
}